:root{
}

.video{
    aspect-ratio: 16/9;
    width: 80%;
    display: block;
}

@media(max-width: 46.875em){
    .video{
        margin-inline: auto;
    }
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color: hsl(0, 0%, 85%);
}

td, th{
    padding: .8em;
}
    
th{
    text-align: start;
    background-color:hsl(227, 50%, 36%) ;
    color: hsl(0, 0%, 97%);
}

tr:nth-of-type(2n){
    background-color: hsl(0, 0%, 80%);
}

@media (max-width: 62.5em){

    .table-container{
        height: 60vh;
        overflow: auto;
    }

   
    th{
        display: none;
    }

    td{
        display: grid;
        grid-template-columns: clamp(3rem, 42%, 20ch) auto;
        gap: .6em;        
    }

    tr:nth-of-type(1n) > td:not(:last-of-type){
        border-bottom: 1px solid hsl(0, 0%, 78%);

    }

    tr:nth-of-type(2n) > td:not(:last-of-type){
        border-bottom: 1px solid hsl(0, 1%, 73%);
    }

    td:first-child{
        padding-top: 1.5rem;
    }

    td:last-child{
        padding-bottom: 1.5rem;
    }

    td::before{
        content: attr(data-cell) ':';
        font-weight: 700;
        text-transform: capitalize;
        text-align: center;

    }
}
